.viewer-section{
  width: 96vw;
  border: 1px solid @color-gray;
  background: @white;
  border-radius: 5px;
  padding: 0;
  margin: 20px auto;
  .util{
    padding: 15px;
    .views{
      display: none;
      @media (min-width: @size-md){
        display: block;
        position: relative;
        display: flex;
        border: 1px solid @color-gray;
        border-radius: 5px;
        height: 35px;
        overflow: hidden;
      }
      input[type="radio"] {
        opacity: 0;
        width: 47px;
        height: 35px;
        cursor: pointer;
        &[checked="checked"]{
          background-color: @color-gray;
        }
      }
      &>*{
        position: relative;
        &.active{
          background-color: @color-gray;
        }
        &:not(:first-child){
          border-left: 1px solid @color-gray;
        }
        &:before, &:after{
          content: '';
          position: absolute;
          background-repeat: no-repeat;
          background-size: contain;
          height: 23px;
          width: 32px;
          pointer-events: none;
          top: 5px;
          left: 6px;
        }
      }
      .stream-chat-input::before{
        background-image: url('media/stream-chat.svg');
        top: 6px;
        left: 7px;
      }
      .stream-chat-input::after{
        height: 17px;
        width: 16px;
        background-image: url('media/chat-only.svg');
        top: 15px;
        left: 23px;
      }
      .stream-only-input{
        width: 44px;
        &:before{
          background-image: url('media/stream-only.svg');
        }
      }
      .chat-only-input::before{
        background-image: url('media/chat-only.svg');
      }
    }
    .views-mobile{
      display: block;
      height: 20px;
      width: 20px;
      background-image: url('media/ellipsis.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      @media (min-width: @size-md){
        display: none;
      }
    }
  }
  #main-window{
    width: 100%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    @media (min-width: @size-md){
      height: 570px;
    }
    .video{
      width: 100%;
      height: 100%;
      background: @color-black;
      transition: max-width .3s ease;
    }
    .chat{
      width: 100%;
      height: 100%;
      background-color: @color-gray-light;
      transition: max-width .3s ease;
    }
    &.stream-chat{
      .video{
        max-width: 70%;
      }
      .chat{
        max-width: 30%;
      }
    }
    &.stream-only{
      .video{
        max-width: 100%;
      }
      .chat{
        max-width: 0%;
      }
    }
    &.chat-only{
      .video{
        max-width: 0%;
      }
      .chat{
        max-width: 100%;
      }
    }
  }
  .activity-container{
    flex-wrap: nowrap;
    height: 67px;

    .activity-list{
      flex-basis: 75%;
      @media (min-width: @size-md){
        flex-basis: 85%;
      }
      .activity{
        position: relative;
        height: 56px;
        border: 1px solid @color-gray;
        border-radius: 5px;
        align-items: center;
        margin: 5px;
        padding: 0;
        flex-basis: 25%;
        @media (min-width: @size-md){
          flex-grow: 1;
        }
        .amount{
          padding: 10px;
          height: 100%;
          width: 100%;
          font-size: 16px;
          font-weight: bold;
          color: @color-primary;
          text-align: center;
          @media (min-width: @size-md){
            width: auto;
            font-size: 21px;
            border-right: 1px solid @color-gray;
            text-align: left;
          }
        }
        .content{
          display: none;
          @media (min-width: @size-md){
            display: block;
            font-size: 12px;
            padding-left: 10px;
            .title{
              font-weight: bold;
            }
          }
        }
      }
    }
    .donate-btn{
      text-align: center;
      flex: 1 1 10%;
      color: @white;
      background-color: @color-primary;
      margin: 5px;
      padding: 15px;
      font-size: 10px;
      font-weight: 900;
      line-height: 2.5;
      text-transform: uppercase;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color .3s ease;
      @media (min-width: @size-md){
        font-size: 18px;
        line-height: 1.5;
      }
      &:hover{
        background-color: #51a203;
      }
    }
  }
}

.views-overlay{
  display: none;
  &.active{
    display: block;
  }
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.2);
  z-index: 1;
  input[type="radio"] {
    opacity: 0;
    height: 35px;
    width: 100%;
    background: @white;
    cursor: pointer;
  }
  .btn-group{
    width: 96vw;
    margin: 10px;
    position: absolute;
    bottom: 20px;
    &>*{
      position: relative;
      background: @white;
      margin-bottom: 10px;
      border-radius:5px;
      label{
        position: absolute;
        top: 10px;
        left: 10px;
        pointer-events: none;
      }
    }
    .cancel label{
      color: red;
    }
  }
}
