.viewer-section{
  width: 96vw;
  border: 1px solid @color-gray;
  background: @white;
  border-radius: 10px;
  padding: 0;
  margin: 20px auto;
  .util{
    padding: 15px;
    .views{
      position: relative;
      display: flex;
      border: 1px solid @color-gray;
      border-radius: 10px;
      height: 35px;
      overflow: hidden;
      input[type="radio"] {
        opacity: 0;
        width: 47px;
        height: 35px;
        cursor: pointer;
        &[checked="checked"]{
          background-color: @color-gray;
        }
      }
      &>*{
        position: relative;
        &.active{
          background-color: @color-gray;
        }
        &:not(:first-child){
          border-left: 1px solid @color-gray;
        }
        &:before, &:after{
          content: '';
          position: absolute;
          background-repeat: no-repeat;
          background-size: contain;
          height: 23px;
          width: 32px;
          pointer-events: none;
          top: 5px;
          left: 6px;
        }
      }
      .stream-chat-input::before{
        background-image: url('media/stream-chat.svg');
        top: 6px;
        left: 7px;
      }
      .stream-chat-input::after{
        height: 17px;
        width: 16px;
        background-image: url('media/chat-only.svg');
        top: 15px;
        left: 23px;
      }
      .stream-only-input{
        width: 44px;
        &:before{
          background-image: url('media/stream-only.svg');
        }
      }
      .chat-only-input::before{
        background-image: url('media/chat-only.svg');
      }
    }
  }
  #main-window{
    width: 100%;
    height: 570px;
    display: flex;
    flex-wrap: wrap;
    .video{
      width: 100%;
      height: 100%;
      background: @color-black;
      transition: max-width .3s ease;
    }
    .chat{
      width: 100%;
      height: 100%;
      background-color: @color-gray-light;
      transition: max-width .3s ease;
    }
    &.stream-chat{
      .video{
        max-width: 70%;
      }
      .chat{
        max-width: 30%;
      }
    }
    &.stream-only{
      .video{
        max-width: 100%;
      }
      .chat{
        max-width: 0%;
      }
    }
    &.chat-only{
      .video{
        max-width: 0%;
      }
      .chat{
        max-width: 100%;
      }
    }
  }
  .activity-container{
    flex-wrap: nowrap;
    height: 67px;

    .activity-list{
      flex-basis: 75%;
      @media (min-width: @size-md){
        flex-basis: 85%;
      }
      .activity{
        position: relative;
        height: 56px;
        border: 1px solid @color-gray;
        border-radius: 10px;
        align-items: center;
        margin: 5px;
        padding: 0;
        .amount{
          padding: 10px;
          height: 100%;
          border-right: 1px solid @color-gray;
          font-size: 21px;
          font-weight: bold;
          color: @color-primary;
        }
        .content{
          display: none;
          @media (min-width: @size-md){
            display: block;
            font-size: 12px;
            padding-left: 10px;
            .title{
              font-weight: bold;
            }
          }
        }
      }
    }
    .donate-btn{
      text-align: center;
      flex: 1 1 10%;
      color: @white;
      background-color: @color-primary;
      margin: 5px;
      padding: 15px;
      font-size: 18px;
      font-weight: 900;
      text-transform: uppercase;
      border-radius: 10px;
      text-decoration: none;
      transition: background-color .3s ease;
      &:hover{
        background-color: #51a203;
      }
    }
  }
}
